.link {
  list-style: none;
}
.titleSelection {
  color: rgb(255, 82, 83);
}
.book-card {
  display: flex;
  flex-direction: column;
  height: 470px;
  width: 190px;
  justify-content: space-between;

  padding: 8px 8px 16px 8px;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 10px;
}
.book-card-in-profile {
  display: flex;
  flex-direction: row;
}
.book-card-horizontal-profile {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 12px;
  padding: 16px;
  gap: 10px;
}
.image-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.book-image {
  border-radius: 10px;
  max-width: 174px;
  height: 242px;
  border: 1px solid #a7a7a7;
}
.book-image-horizontal {
  border-radius: 10px;
  max-width: 120px;
  height: 170px;
  border: 1px solid #a7a7a7;
}
.book-card-info-section {
  display: flex;
  flex-direction: column;
}
.book-card-info-section-horizontal-profile {
  display: flex;
  flex-direction: column;
  width: 942px;

  padding: 0px;
  gap: 24px;
  margin-left: 16px;
}

.book-card-about {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.book-card-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.book-card-title-horizontal {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #363636;
}
.book-card-author {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #727272;
  margin-bottom: 28px;
}
.book-card-author-horizontal {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #727272;
}
.book-card-button-section {
  display: flex;
  flex-direction: column;
  width: 174px;
}
.book-card-button-section-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.book-card-button {
  width: 166px;
  height: 40px;
  margin: 0 auto;
  border-radius: 20px;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  border: none;
}
.book-card-button-horizontal-profile {
  width: 174px;
  height: 40px;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border-radius: 20px;
  color: white;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  border: none;
}
.return-book {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ff5253;
}
.book-card-button-booked {
  width: 166px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  margin: 0 auto;
  background: #f9f9fa;
  border-radius: 20px;
  color: #363636;
  border: 1px solid #bfc4c9;
}
.book-card-button-horizontal-booked {
  width: 174px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  height: 40px;
  border: 1px solid #bfc4c9;
  background: #f9f9fa;
  border-radius: 20px;
  color: #363636;
}
.book-card-button-horizontal-booked:disabled {
  color: #a7a7a7;
}
.book-card-button-booked:disabled {
  color: #a7a7a7;
}
@media (max-width: 768px) {
  .book-card-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
  }
  .book-card-info-section-horizontal-profile {
    width: 470px;
  }
  .book-card-horizontal-profile {
    width: 640px;
  }
  .book-card-title-horizontal {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  .book-card-author {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #727272;
    margin-bottom: 28px;
  }
  .book-card-author-horizontal {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #727272;
  }
}
@media (max-width: 320px) {
  .book-card-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  .book-card-info-section-horizontal-profile {
    width: 186px;
  }
  .book-card-horizontal-profile {
    width: 288px;
  }
  .book-card-title-horizontal {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #363636;
  }
  .book-card-author {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #727272;
    margin-bottom: 28px;
  }
  .book-card-author-horizontal {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #727272;
  }
  .book-card {
    height: 470px;
    width: 288px;
    justify-content: space-between;
    padding: 8px 16px 16px 16px;
    border-radius: 10px;
    margin: 0 auto;
  }
  .book-card-horizontal {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 288px;
    height: 182px;
    margin: 0 auto;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 10px;
    padding: 16px 16px 16px 8px;
    gap: 10px;
  }
  .image-block {
    display: flex;
    width: 256px;
    flex-direction: column;
    gap: 16px;
  }
  .image-block-horizontal {
    width: 70px;
    height: 100px;
  }
  .book-image {
    border-radius: 10px;
    width: 174px;
    min-height: 242px;
    margin: 0 auto;
  }
  .book-image-horizontal {
    border-radius: 3px;
    width: 70px;
    height: 100px;
  }
  .book-card-info-section {
    display: flex;
    flex-direction: column;
  }
  .book-card-info-section-horizontal {
    display: flex;
    flex-direction: column;
    max-width: 649px;
    width: 100%;
    padding: 0px;
    gap: 3px;
  }

  .book-card-about {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .book-card-button-section {
    display: flex;
    flex-direction: column;
  }
  .book-card-button-section-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .book-card-button {
    width: 256px;
    height: 40px;
    margin: 0 auto;
    border-radius: 20px;
    color: white;
    border: none;
  }
  .book-card-button-horizontal {
    width: 186px;
    height: 40px;
    border-radius: 20px;
    color: white;
    border: none;
    margin-top: 16px;
  }
  .book-card-button-booked {
    width: 256px;
    height: 40px;
    margin: 0 auto;
    background: #f9f9fa;
    border-radius: 20px;
    color: #a7a7a7;
    border: 1px solid #bfc4c9;
  }
  .book-card-button-horizontal-booked {
    width: 186px;
    height: 40px;
    border: 1px solid #bfc4c9;
    background: #f9f9fa;
    border-radius: 20px;
    color: #a7a7a7;
    margin-top: 16px;
  }
}
