.calendar-conteiner {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(54, 54, 54, 0.3);
  backdrop-filter: blur(10px);
  transition: all 0.5s;
  opacity: 1;
}
.calendar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #363636;
  margin-top: 48px;
  margin-bottom: 32px;
  width: 256px;
}
.calendar-form {
  width: 528px;
  height: 512px;
  background: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.calendar-form-re-booking {
  width: 528px;
  height: 580px;
  background: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.calendar-form-big {
  width: 528px;
  height: 552px;
  background: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.calendar-form-re-booking-big {
  width: 528px;
  height: 630px;
  background: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.arrow-drop {
  margin-left: 11px;
}
.cross-calendar {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 49px;
  top: 49px;
  border: none;
  background: url(/src/img/icon/cross-in-input.svg) no-repeat;
}

.calendar {
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  width: 256px;
  height: 240px;
  border-radius: 8px;
  text-transform: capitalize;
  background: #ffffff;
}
.calendar-big {
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18),
    0px 1px 5px rgba(191, 196, 201, 0.24);
  width: 256px;
  height: 280px;
  border-radius: 8px;
  text-transform: capitalize;
  background: #ffffff;
}

.calendar-header {
  position: relative;
  border-radius: 8px 8px 0 0;
  background-color: #ffffff;
  padding: 16px 24px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrows-block {
  display: flex;
  flex-direction: row;
}
.arrow-block-none {
  display: none;
}
.calendar-header-arrow-left {
  width: 9.33px;
  height: 10px;
  cursor: pointer;
  background-image: url('../../img/icon/chevron-for-menu-up.svg');
  margin-right: 18.67px;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.calendar-header-arrow-right {
  width: 9.33px;
  height: 10px;
  cursor: pointer;
  background-image: url('../../img/icon/chevron-for-menu-down.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.calendar-body {
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

.calendar-week-names {
  height: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  color: #ff8c00;
}

.calendar-days {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  display: grid;
  text-align: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  background-color: rgba(0, 0, 0, 0);
}

.calendar-day {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgb(167, 167, 167);
  background-color: rgba(0, 0, 0, 0);
}

.calendar-day-off-item {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  background-color: rgb(254, 235, 234);
  border-radius: 16px;
}

.calendar-day-off-item-today {
  background-color: rgb(254, 235, 234);
  border-radius: 16px;
  color: rgb(248, 54, 0);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.calendar-additional-day {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgb(167, 167, 167);
  background-color: rgba(0, 0, 0, 0);
}

.calendar-pick-item {
  padding: 9px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 16px;
}

.calendar-pick-item:hover {
  border: 1px solid rgb(167, 167, 167);
}
.calendar-day-active:hover {
  border: 1px solid rgb(167, 167, 167);
}
.calendar-day-active {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #363636;
  background-color: rgba(0, 0, 0, 0);
}

.calendar-today-item {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgb(248, 54, 0);
}
.calendar-selected-item {
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  color: #ffffff;
  border: 1px solid rgb(167, 167, 167);
}
.calendar-selected-item:hover {
  border: 1px solid #3d3d3d;
}

.calendar-pick-items-container {
  font-weight: 400;
  color: gray;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  font-size: 12px;
}

.calendar-unchoosable-year {
  font-weight: 300;
  padding: 9px 16px;
}
.calendar-submit-button {
  width: 416px;
  height: 52px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-top: 46px;
}
.calendar-re-submit-button {
  width: 416px;
  height: 52px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-top: 32px;
  margin-bottom: 16px;
}
.calendar-re-submit-button:disabled {
  background: #ebebeb;
  color: #ffffff;
}
.calendar-submit-button:disabled {
  background: #ebebeb;
  color: #ffffff;
}
.calendar-cancell-button {
  width: 416px;
  height: 52px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #363636;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 30px;
  background-color: #ffffff;
}
.loader-in-calendar {
  min-height: calc(100vh - 203px);
}
.loader-disabled {
  display: none;
}
@media (max-width: 550px) {
  .calendar-cancell-button {
    width: 256px;
    height: 40px;
  }
  .calendar-re-submit-button {
    width: 256px;
    height: 40px;
    margin-top: 24px;
  }
  .calendar-submit-button {
    width: 256px;
    height: 40px;
    margin-top: 24px;
  }
  .calendar-form {
    width: 288px;
    height: 458px;
  }
  .calendar-form-re-booking {
    width: 288px;
    height: 514px;
  }
  .calendar-form-big {
    width: 288px;
    height: 510px;
  }
  .calendar-form-re-booking-big {
    width: 288px;
    height: 560px;
  }
  .calendar-title {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 24px;
    margin-top: 42px;
  }
  .cross-calendar {
    right: 16px;
    top: 16px;
  }
}
